body {
  font: var(--cps-font-body);
  background: var(--cps-color-background-solid-primary);
  color: var(--cps-color-text-primary);
  padding: 1rem;
}

p cps-icon {
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -2px;
}
